apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: k8s-3tier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: k8s-3tier-frontend:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
